<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated RasPiRover -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="rover.raspirover.raspirover.presentation.RaspiroverModelWizardID"
            name="%_UI_RaspiroverModelWizard_label"
            class="rover.raspirover.raspirover.presentation.RaspiroverModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RaspiroverModelFile.gif">
         <description>%_UI_RaspiroverModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated RasPiRover -->
      <editor
            id="rover.raspirover.raspirover.presentation.RaspiroverEditorID"
            name="%_UI_RaspiroverEditor_label"
            icon="icons/full/obj16/RaspiroverModelFile.gif"
            extensions="raspirover"
            class="rover.raspirover.raspirover.presentation.RaspiroverEditor"
            contributorClass="rover.raspirover.raspirover.presentation.RaspiroverActionBarContributor">
      </editor>
   </extension>

</plugin>
