<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ArduinoML -->
      <package
            uri="http://rover.arduinoml/arduino/"
            class="rover.arduinoml.arduino.ArduinoPackage"
            genModel="model/ArduinoML.genmodel"/>
   </extension>

</plugin>
